exclude = [
    ".git",
    ".venv",
    "__pycache__",
    "migrations",
    "manage.py",
    "settings.py",
    "env",
    ".env",
    "venv",
    "node_modules",
]

line-length = 200
indent-width = 4
target-version = "py313"

[lint]

select = ["E4", "E7", "E9", "F"]

ignore = [
    "E501",
    "B008",
]

fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
quote-style = "preserve"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"
